.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blur{
  position: absolute;
  width: 40rem;
  height: 14rem;
  border-radius: 50%;
  background: #056b57;
  filter: blur(100px);
}

.button{
 
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border:none;
  border-radius: 0.5rem;
  background: linear-gradient(106.23deg, #056b57, #15ebcb 100%);
  transition:all 100ms ease-out;
  cursor: pointer;
}

.button:hover{
  cursor: pointer;
  color: #056b57; 
  background: white;
  border: 2px solid #056b57;
}

.button:disabled{
  background: silver;
  pointer-events: none;
}